* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  /* 全体の幅、外余白 */
  width: 960px;
  margin: 50px auto;
}

.item-list {
  margin-bottom: 50px;
}
.item {
  /* 以下でpadding一つ指定で上下左右を指定 */
  padding: 20px;
  /* 濁点消し */
  list-style: none;
}
.item:nth-child(odd) {
  /* 奇数ならびの複数指定 */
  background-color: #eee;
}
.box-list {
 /* 親要素折り返し指定 */
  display: flex;
  flex-wrap: wrap;
}
.box {
  /* 箱作り、幅、高さ、右余白、下余白 */
  background-color: #ffd700;
  width: 30%;
  height: 200px;
  margin-right: 5%;
  margin-bottom: 40px;
/* ---got 7 yellow box till here--- */
}
/* put color on 1,5,last box  */
.box:first-child,
.box:nth-child(5),
.box:last-child {
  background-color: #ff8c00;
}
.box:nth-child(3n) {
  /* --a multiple of 3-- */
  margin-right: 0;
}
.box:nth-last-child(-n + 3) {
  /* --meaning of last 3 boxes-- */
  margin-bottom: 0;
}